@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Politica de privacidade</h1>

<p style="text-align:center; font-size:25px">Trabalho de linguagem da programação</p>
<p style="text-align:center; font-size:25px">Desenvolvido por:</p>
<p style="text-align:center; font-size:25px">João Pedro Vilas Bôas, RA:1911550217</p>
<p style="text-align:center; font-size:25px">Matheus Marques de Souza, RA:2111550225</p>
